*{
    margin: 0px;
    padding: 0px;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }

.canvasDiv{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 90px;
  position: absolute;
}

  .videoClass{
    opacity: 0;
    width: 1px;
    height: 1px;
    position: absolute;
  }

  #loadingOverlay{
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .placeholder{
    width: 30%;
  }